<section class="flex flex-col md:flex-row lg:max-h-screen lg:w-[90%] lg:flex-col lg:justify-between">

  <div>
    <p class="mb-4">
      Dedicated and experienced Software Engineer with expertise in .NET, Angular, and Microservice Architecture. Competitive programmer with strong problem-solving and analytical skills, sharpened through various onsite and online contests.
    </p>
    <p>Passionate about building scalable, user-friendly solutions and staying updated with the latest tech trends.</p>
  </div>
</section>
