<!-- HTML Template (e.g., my-component.component.html) -->
<div class="container mx-auto min-h-screen px-4">
  <section class="py-8 md:py-24">
    <h1 class="text-4xl font-bold mb-10">All Projects</h1>
    <div class="overflow-x-auto">
      <table class="w-full table-auto">
        <thead>
        <tr class="text-left">
          <th class="pb-4">Year</th>
          <th class="pb-4">Project</th>
          <th class="pb-4">Made at</th>
          <th class="pb-4">Built with</th>
          <th class="pb-4">Link</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let project of projects" class="border-t border-gray-700">
          <td class="py-4">{{ project.year }}</td>
          <td class="py-4">{{ project.project }}</td>
          <td class="py-4">{{ project.madeAt }}</td>
          <td class="py-4">
            <div class="flex flex-wrap w-90">
              <ng-container *ngFor="let tech of project.builtWith">
                  <span class="inline-block text-sm px-2 py-1 rounded-full text-white mr-2 mb-2"
                        [ngClass]="{
                          'bg-green-600': tech === 'Next.js',
                          'bg-blue-600': tech === 'TypeScript',
                          'bg-pink-600': tech === 'SCSS',
                          'bg-blue-400': tech === 'Contentful'
                        }">
                    {{ tech }}
                  </span>
              </ng-container>
            </div>
          </td>
          <td class="py-4">
            <a [href]="project.link" class="text-blue-400 underline" target="_blank" rel="noopener noreferrer">
              {{ project.link }}
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
